@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"


.klor {

ul.uk-breadcrumb {
 background rgba(dark .1)

li {

a {

}// a

span  {
 color heida
}// span

}// li

}// ul.uk-breadcrumb

.uk-card {

.uk-card-header {
 background rgba(dark .1)
 
.uk-grid-small {

.uk-width-auto {

img {

}// img

}// .uk-width-auto

.uk-width-expand {

h3.uk-card-title {
 color heida
 font-size 13px
}// h3

p.uk-text-meta {

time {

span.cal {

svg {
 color heida
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.date {
 font-size 13px

}// span.date

span {

svg {
 color heida
 width 11px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 font-size 11px
}// span.time

}// time

}// p.uk-text-meta

}// .uk-width-expand

}// .uk-grid-small

}// .uk-card-header

.uk-card-body {

.uk-first-column {

div {
 height 30px
 border-bottom 1px solid rgba(gray .2)

span {
 
&.uk-align-right {
 color gray

small {

span {
 color heida
}// span

}// small 

}// &.uk-align-right

}//span

}// div

}// .uk-first-column

}// .uk-card-body

.uk-card-footer {
 margin-top -31px

a {
 font-size 11px
}// a

}// .uk-card-footer

}// .uk-card

}// .klor