.profile {

ul.uk-breadcrumb {
 background rgba(dark .1)

li {

a {

}// a

span  {
 color heida
}// span

}// li

}// ul.uk-breadcrumb

a {

&.fb {
 background fb
 color white

}// &.fb

&.mail {
 background heida
 color white

}// &.mail

&.tel {
 background dark
 color white

}// &.tel   

svg {

}// svg

}// a

}// .profile